div.css-zbg2rx{
    background-color: #feae96;
    background-image: linear-gradient(315deg, #feae96 0%, #fe0944 74%);
}
<<<<<<< HEAD
div.css-1kyxreq{
    margin-bottom:5px;
    padding-top:0px;
}





=======
div.css-nlntq9{
    margin-top:100px;
}
>>>>>>> 1bd68ab031a90273fd77ceedf1bacefa589c8a5c
